.App{text-align: center;}

/* DEFAULT */
*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION 1 */
#section1{
  background-image: url('./img/mae-mu-8Vh6ulKc50o-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.titres1{
  font-size: 50px;
  letter-spacing: 15px;
}
.btncontact:hover{
  background-color: rgba(255, 166, 0, 0.74) !important;
  transform: scale(0.9);
}
/* .navbar-toggler:active{
  outline: none !important;
  border: none !important;
} */

/* SECTION2 / SECTION3 */
.sec2col1, .sec2col2, .sec3c2col1, .sec3c2col2{
  height: 500px !important;
}

/* SECTION4 */
.sec4col1{
  height: 500px !important; 
  background-image: url('./img/matthew-hamilton-BeeMMFF_jso-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec4col2{
  height: 500px !important; 
  background-image: url('./img/marina-zaharkina-OGwLyoTncI8-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* SECTION5 */
.profil{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.titre2{
  letter-spacing: 10px;
}
/* FOOTER */
#footer{
  background-color: rgb(84, 151, 144);
  flex-direction: column;
}
a[href="#section1"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 830px) {
  /* .footer{
    padding: 0 !important;
    background-color: black !important;
  }
  .rowFooter{
    width: 100% !important;
  } */
}